<div class="p-7">
  <div class="grid grid-cols-3 gap-4">
    <div class="" *ngFor="let item of vehiclesByCompany">
      <p-card [style]="{ width: '25rem', overflow: 'hidden', height: '26rem' }">
        <ng-template #header>
          <img
            alt="Card"
            class="w-full"
            src="https://primefaces.org/cdn/primeng/images/card-ng.jpg"
          />
        </ng-template>
        <ng-template #title> {{ item.Mfr_Name }} </ng-template>
        <ng-template #subtitle> Pais:{{ item.Country }} </ng-template>
        <span> Veiculos producidos: </span>
        <ul class="list-disc pl-5">
          <li *ngFor="let vehicle of item.VehicleTypes">
            <span>
              {{ vehicle.Name }}
            </span>
          </li>
        </ul>
      </p-card>
    </div>
  </div>
  <router-outlet />
</div>
